@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin-top: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-dark-violet: #011936;
  --clr-Very-Dark: #161722;
  --clr-Very-Dark-Desaturated-Blue: #25273c;
  --clr-Very-Grayish-Blue: #4d5066;
  --clr-Very-Dark-Grayish-Blue: #393a4c;
  --clr-verdigris: #48a9a6;
  --dark-pastel-green: #20bf55;
  --clr-blue: #0b4f6c;
  --clr-royal-blue-dark: #03256c;
  --clr-denim-blue: #2541b2;
  --clr-blue: #1768ac;
  --clr-Dark-Blue: #2b3945;
  --clr-Very-Dark-Blue: #202c37;
  --clr-Very-Dark-Blue-Light: #111517;
  --clr-Dark-Grayish-Blue: #323a49;
  --box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25),
    -2px -2px 2px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-white);
}

.p-img {
  mix-blend-mode: multiply;
}

.logo {
  mix-blend-mode: color-burn;
}

.alert-section {
  text-align: center;
  position: relative;
}

.alert {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
  color: #03256c;
  z-index: -99;
  opacity: 1;
  position: absolute;
  top: 3.5rem;
  opacity: 0;
}

.alert-cart {
  padding: 10px 0;
  border-left: 7px solid #12bb4a;
  background-color: white;
  gap: 0.5rem;
  padding-left: 16px;
  padding-right: 16px;
  transition: all 0.5s ease-in;
  position: absolute;
  top: 6.25rem;
  opacity: 1;
  z-index: 99;
}

.alert-clear {
  display: none;
}

/* Login */

.login-box,
.form-container {
  width: 400px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input,
.form-container input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  color: #011936;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
}

.login-box button:hover {
  background: #e6dede;
  color: #272727;
  transition: 0.5s;
}

.login-box p:last-child {
  color: #aaa;
  font-size: 14px;
}

.login-box a.a2 {
  color: #fff;
  text-decoration: none;
}

.login-box a.a2:hover {
  background: transparent;
  color: #aaa;
  border-radius: 5px;
}

/* Form Container */
.btn-signup {
  width: 100%;
  margin: 0 auto 0.75rem;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  background-color: #011936;
  font-weight: 600;
  color: wheat;
  border: none;
  transition: all 0.5s;
}

.btn-signup:hover {
  transition: all 0.5s;
  background-color: #02254f;
  color: white;
}

.title {
  text-align: center;
  color: white;
}

.register,
.do-you,
.add-pp {
  color: rgb(96, 101, 106);
  text-align: center;
}

.pp {
  font-size: 2rem;
}

.file-label {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.do-you a {
  color: aliceblue;
}
